.content
  %h2 Diadem Studios Presents:
  %h1 Outpost!
  = image_tag 'landscape.png'
.sign-up
  %h3 A Game of Collaborative Tower Defense
  %p Currently in Alpha; Sign up to play
  %input{:value => "Email Address"}
  %button Submit
